<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="shortcut icon"
    href="{{ url_for('static', filename='img/favicon_32.ico')}}"/>

    <!-- react js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.7/react.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.7/react-dom.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.23/browser.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/marked/0.3.2/marked.min.js"></script>

    <!-- MDL -->
    <link rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.6/material.orange-lime.min.css" />
    <script src="https://storage.googleapis.com/code.getmdl.io/1.0.6/material.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <script>
      URLS = {{ {
            'feeds': url_for('feeds', _external=True),
            'entries': url_for('category_entries', _external=True)
      }|tojson|safe }};
      THEMES = {{ {
            'bright': url_for('static', filename='css/theme_bright.scss.css'),
            'dark': url_for('static', filename='css/theme_dark.scss.css')
      }|tojson|safe }};
    </script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"
      type="text/javascript" charset="utf-8"></script>
    <script type="text/babel" src="{{ url_for('static', filename='js/master.jsx') }}"
      type="text/javascript" charset="utf-8"></script>
    <script src="{{ url_for('static',
      filename='js/moment-with-langs.min.js') }}"
      type="text/javascript" charset="utf-8"></script>
    <link rel="stylesheet" type="text/css" media="all"
    href="{{ url_for('static', filename='css/animation.scss.css') }}">
    <link rel="stylesheet" type="text/css" media="all"
    href="{{ url_for('static', filename='css/master.scss.css') }}">
    <style type="text/css" class="theme">
      /*
      @import url({{ url_for('static',
          filename='css/theme_bright.scss.css') }});
      */
    </style>
    <title>Earth Reader</title>
  </head>
  <body>
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">
      <header class="mdl-layout__header">
        <div class="mdl-layout__header-row">
          <h1 class="mdl-layout-title mdl-layout--small-screen-only">Earth Reader</h1>
          <div class="mdl-layout-spacer"></div>
          <nav class="mdl-navigation mdl-layout--large-screen-only">
            <label class="mdl-switch mdl-js-switch" for="switch-unread">
              <span class="mdl-switch__label">Unread</span>
              <input type="checkbox" id="switch-unread" class="mdl-switch__input" checked>
            </label>
            <label class="mdl-switch mdl-js-switch" for="switch-starred">
              <span class="mdl-switch__label">starred</span>
              <input type="checkbox" id="switch-starred" class="mdl-switch__input">
            </label>
          </nav>
        </div>
      </header>
      <div class="mdl-layout__drawer">
        <span class="mdl-layout-title">Earth Reader</span>
        <nav class="mdl-navigation">
          <div class="mdl-layout--small-screen-only">
            <label class="mdl-switch mdl-js-switch" for="switch-unread">
              <input type="checkbox" id="switch-unread" class="mdl-switch__input" checked>
              <span class="mdl-switch__label">Unread</span>
            </label>
            <label class="mdl-switch mdl-js-switch" for="switch-starred">
              <input type="checkbox" id="switch-starred" class="mdl-switch__input">
              <span class="mdl-switch__label">starred</span>
            </label>
          </div>

          <nav id="feedList" class="mdl-navigation"></nav>
        </nav>
      </div>
      <main class="mdl-layout__content" role="main">
      </main>
      <div id="manual">
        <h2>Keyboard shortcuts</h2>
        <div class="shortcuts">
          <p><kbd>j</kbd> Older entry</p>
          <p><kbd>k</kbd> Newer entry</p>
          <p><kbd>J</kbd> Select next feed</p>
          <p><kbd>K</kbd> Select previous feed</p>
          <p><kbd>X</kbd> toggle folding category</p>
          <p><kbd>v</kbd> Open entry in new tab</p>
          <p><kbd>&crarr;</kbd>/<kbd>o</kbd> Toggle collapse current entry</p>
          <p><kbd>r</kbd> Refresh current feed</p>
          <p><kbd>s</kbd> Star/Unstar</p>
          <p><kbd>u</kbd>/<kbd>m</kbd> Mark as unread</p>
          <p><kbd>?</kbd> Show this help message</p>
        </div>
      </div>
    </div>
  </body>
</html>
